.simpatico_navbar {
  /*position: absolute;*/
  top: 0px;
  width: 100%;
  height: 40px;
  background-color: yellow; 
  padding: 5px;
}

.simpatico_navbar button {
	vertical-align: text-bottom;
	margin-bottom: 5px;
}

.simpatico_navbar #access {
	padding: 10px;
	float: right;
} 

.simpatico_navbar #userdata {
    padding: 10px;
    float: right;
} 

.main_form {
	margin: 5px 25px 0 25px;
}

.test_content {
	font-size: 1.5em;
	line-height: 1.5em
}

.block_edited {
	border: 2px yellow solid;
	/* margin: 2px; */
  /* padding: 2px; */
}